<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-python-template.ZPM">
    <Module>
      <Name>iris-python-template</Name>
      <Version>3.0.3</Version>
      <Description>The simplest template to run embedded python</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.python.PKG"/>
      <FileCopy Name="python/" Target="${libdir}python/"/>
      <FileCopy Name="data/" Target="${libdir}data/${packagename}/"/>
    </Module>
  </Document>
</Export>
