<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-python-template.ZPM">
    <Module>
      <Name>iris-python-template</Name>
      <Version>2.0.6</Version>
      <Description>The simplest template to run embedded python</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src/cls</SourcesRoot>
      <Dependencies>
        <ModuleReference>
          <Name>pex-embbeded-python</Name>
          <Version>2.3.8</Version>
        </ModuleReference>
      </Dependencies>
      <Resource Name="dc.Demo.PKG"/>
      <FileCopy Name="src/python/" Target="${libdir}python/"/>
      <FileCopy Name="data/" Target="${libdir}data/${packagename}/"/>
    </Module>
  </Document>
</Export>
